@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');

h1, h2, h3, p, button, span, a, div, section, article {
    margin: 0;
    padding: 0;
}

:root {
    font-family: Poppins, sans-serif;
    --main-color: #000;
    --brand-color: #0e38b1;
    --second-brand-color: #081f62;
    --third-brand-color: #6f8eeb;
    --white-color: #fff;
    scroll-behavior: smooth;
}

body {
    max-width: 1100px;
    margin: auto;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
}

.logo {
    font-family: Sarala, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-left: 50px;
    font-weight: bold;
    text-decoration: none;
    color: var(--second-brand-color);
}

.logo:hover {
    text-decoration: none;
    color: var(--brand-color);
}

#menu a {
        display: block;
        text-decoration: none;
        color: var(--main-color);
        margin: 10px;
        font-weight: 500;
        font-size: 15px;
    }

#menu a:hover {
    color: var(--brand-color);
}

#menu a.button:hover {
    color: var(--white-color);
}

a.button {
    text-decoration: none;
}

a {
   color: var(--brand-color);
}

.col-5, .col-3, .col-2 {
    margin-top: 12px;
    margin-bottom: 0;
}

.navbar {
    padding: 0;
}

@media (max-width: 865px) {
    .topnav {
        overflow: hidden;
        display: flex;
    }

    .topnav #menu {
        display: none;
    }

    .topnav a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #menu {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    a.active.logo {
        color: var(--third-brand-color)
    }

    #menu a.button.nav-button {
        color: var(--second-brand-color);
    }
}

@media (min-width: 865px) {
    .topnav {
        display: flex;
    }

    .topnav #menu {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    .fa-bars {
    display: none;
    }
}

.button {
    color: var(--second-brand-color);
    font-size: 11px;
    border: 2px solid var(--brand-color);
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--white-color);
    transition: background-color 1s;
}

p {
    padding-bottom: 20px;
}

.button:hover {
    background-color: var(--brand-color);
    color: var(--white-color);
}

.nav-button {
    align-self: center;
    margin: 20px;
}

.banner {
    background: linear-gradient(rgba(38, 37, 28, 0.5), rgba(82, 80, 70, 0.3)), center;
    background-image: url("banner-books.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
}

.banner h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--white-color);
}

.clock {
    align-self: flex-end;
    color: var(--second-brand-color);
    font-weight: bold;
}

h1 span {
    display: block;
    max-height: 80px;
}

.main-description {
    color: var(--white-color);
    font-size: 18px;
}

.banner-button {
    background-color: var(--brand-color);
    color: var(--white-color);
    margin-top: 3rem;
}

.banner-button:hover {
    background-color: var(--white-color);
    color: var(--second-brand-color);
}

h2 {
    margin: 2rem 1rem;
    font-size: 38px;
    text-align: center;
}

h3 {
    font-size: 22px;
    color: var(--brand-color);
    margin: 20px 0;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 80%;
}

.promotions, #best-selling, #contact-us  {
    padding-top: 45px;
}

.promotion-category {
    margin: 10px;
}

.promotions-bracelets {
    color: var(--main-color);
}

.switchover {
    color: var(--white-color);
    min-height: 400px;
    background-image: url("../img/switchover.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    margin: 20px 0;
}

.date {
    font-style: italic;
    color: var(--second-brand-color);
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.switchover h2 {
    font-size: 60px;
}

.switchover-start {
    color: var(--third-brand-color);
}

.best-selling {
    min-height: 600px;
}

.best-selling h2 {
    color: var(--third-brand-color);
}

.best-selling-card {
    margin: 10px;
    background-color: var(--white-color);
}

.best-selling-card h3 {
    color: var(--second-brand-color);
}

.price {
    color: var(--brand-color);
    font-size: 28px;
    font-weight: 600;
}

.best-selling-subtitle {
    text-align: center;
    font-size: 18px;
    padding-top: 0;
    color: var(--white-color)
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
  
}

.best-selling.container {
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
  background-color: var(--second-brand-color);
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 350px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 20px;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 200px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  background-color: var(--white-color);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  border-radius: 1em;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
    max-height: 220px;
    max-width: 170px;
}

.winter-2021-collection {
    background: linear-gradient(rgba(38, 37, 28, 0.5), rgba(82, 80, 70, 0.3)), url(../img/winter-2021-collection.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
    color: var(--white-color);
    margin-top: 50px;
}

.winter-2021-name {
    text-align: left;
    margin-left: 0;
}

@media (min-width: 700px) {
    .our-fave-finds-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1050px) {
    .our-fave-finds-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.our-fave-finds h2{
    text-align: left;
    margin: 25px 0;
}

.our-fave-finds p {
    margin-bottom: 30px;
}

.rings {
    margin: 10px;
}

article.rings h3 {
    font-size: 18px;
}

.products-container {
        display: grid;
        grid-template-columns: 1fr;
    } 

@media (min-width: 550px) {
   .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media (min-width: 820px) {
   .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 
}

@media (min-width: 1070px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.products-container div {
    max-width: 100%;
}

.counter {
    background-color: var(--second-brand-color);
    color: var(--white-color);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
    overflow: hidden;
}

.counter p {
    max-width: 500px;
    text-align: center;
}

.year {
  font-size: 200px;
  z-index: -1;
  opacity: 0.2;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
    display: flex;
    flex-direction: row;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}

.top-jewelry {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
}

@media (min-width: 750px) {
    .top-jewelry {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .top-jewelry-content {
    min-height: 450px;
    padding: 20px;
    }
}

.our-top-jewelry {
    margin: 20px;
}

.top-jewelry-content {
    margin: 30px 0;
}

.top-jewelry-content .under-heading {
    font-size: 16px;
    font-weight: 500;
    color: var(--brand-color);
}

.top-jewelry-content h2 {
    text-align: left;
    margin: 10px 0;
}

.top-jewelry-content p {
    margin-bottom: 20px;
}

.our-benefits {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

@media (min-width: 400px) {
    .our-benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) {
    .our-benefits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 50px;
    }
}

.benefits {
    padding: 10px;
}

.benefits img {
    max-width: 80px;
}

.contact-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 5px;
}

@media (max-width: 700px) {
    .contact-us {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.contact-form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px 5px 30px 5px;
}

.contact-form form label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.contact-us h2 {
    text-align: left;
    margin: 20px 0;
}

form input, form textarea {
    background-color: rgb(175, 170, 170);
    border-radius: 5px;
    border:0 none;
    padding: 10px;
}

input.submit {
    background-color: var(--third-brand-color);
    padding: 10px 30px;
}

.map iframe {
    border: 0;
    width: 100%;
    height: 600px;
}

.footer-menu a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    width: 300px;
    margin: 10px;
}

footer {
    background-color: rgb(199, 219, 230);
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.footer-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

footer p {
    text-align: center;
}

.footer {
    font: 20px;
    margin: 20px;
}

footer .logo, .footer-menu a {
    color: var(--white-color);
    text-align: center;
}

footer .logo {
    margin: 30px 0;    
}

.footer-menu a, .footer-menu label {
    font-size: 16px;
}

footer p {
    font-size: 14px;
}

footer .join-newsletter {
    margin: 30px 0;
}

footer .join-newsletter input {
    background-color: rgb(76, 76, 76);
    border-radius: 5px;
    border:0 none;
    padding: 5px;
    margin: 10px 0;
}

form {
    text-align: center;
}
